$threads-font-path: "~plaid-threads/fonts";
@import "~plaid-threads/scss/typography";
@import "~plaid-threads/scss/variables";

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70 * $unit;
  max-width: 84 * $unit;
  margin: 0 auto;
}

.title {
  margin-top: 9 * $unit;
  margin-bottom: 0;
  font-weight: 800;
  height: 6 * $unit;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 3 * $unit;
}